*.hi
*.o
.html/
*.swp
tmp/
*.pem
*.key
*.crt
dist/
/subprojects/schedevr/src/mkschd/marge-schedule
/subprojects/schedevr/src/mkschd/marge-schedule-evr
/subprojects/schedevr/src/prog_graph/mkGraph
/subprojects/schedevr/dist/
/subprojects/schedevr/*.ebuild
